<!DOCTYPE html>
<html lang="en" ng-app="spa-capstone">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

  </head>
  <body>
    <div class="container text-center">

      <% unless Rails.env.production? %>
        <code><%= Rails.env unless Rails.env.production? %></code>
      <% end %>

        <div class="starter-template" style="padding: 3rem;">
          <h1>Photo Tourist App</h1>
          <p class="lead">
            Site Under Construction
          </p>
        </div>

        <code>(from app/views/ui/index.html.erb)</code>
        <div ui-view></div>
        

    </div> <!-- /.container -->

    <!-- jQuery first, then Tether, then Bootstrap JS. 
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    -->
  </body>
</html>